.App{
    display: flex;
    flex-direction: row;
}
.cards-container{
    background: red;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.panel{
    width:200px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: space-around;
}