.App{
    display: flex;
    flex-direction: row;
}
.cards-container{
    background: red;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.panel{
    width:200px;
    flex-direction: column;
    background: green;
    display: flex;
    align-items: center;
    
    div{
        height: min-content;
        
    }

}
.loss-output{
    display: flex;
    flex-direction: column;
    align-items: center;
}